
.form-row {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 30px;
    margin-left: 40px;
    font-size: 9.5px;
    padding-left: 10px;
}

.form-row:hover {    
    border-left: 5px solid #3852FF;
    padding-left: 5px;
}

input {
    color: #3852FF;
    border: none;
}