body {
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin-left: 120px;
    margin-right: 120px;
    /*width: 100%;*/
}

.left-side {
    width: 50%;
    height: 100vh;
    float: left;
    background-color: white;
}

.main-title {
    color: #3852FF;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 50px;
}

h2 {
    font-size: 16px;
    margin-left: 40px;
}

p {
    font-size: 9.5px;
    margin-left: 40px;
    margin-bottom: 40px;
    color: #A0A3AD;
}

a {
    display: inline;
    text-decoration: none;
    color: #3852FF;
    margin-left: 15px;
    font-weight: bold;
    font-size: 8px;
}

span {   
    display: inline;
    color: #A0A3AD;
    font-size: 8px;
}

.remember-and-forgot {
    line-height: 15px;
    vertical-align: middle;
    text-align: right;
}

.remember {
    color: #A0A3AD;
    font-size: 8px;
}

.remember > input {
    vertical-align: middle;
}

.forgot {
    margin-top: 3px;
    color: #8B8B9B;
    font-size: 8px;
}

.button-login > a {
    color: white;
}

.right-side {
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url(../img/main-pic.png);
    background-repeat:no-repeat;
    background-size:cover
}